.uploadedImg {
    height: 450px;
    width: 450px;
}

p {
    margin: 4px 0px 4px 0px;
}

p#author {
    height: 30px;
    width: 150px;

    border: 1px solid black;
}

p.diseaseName {
    height: 30px;
    width: 200px;

    border: 1px solid black;
}

p.diseaseSolution {
    height: 200px;
    width: 600px;

    border: 1px solid black;
}

fieldset {
    overflow: auto;
    width: 400px;
    height: 120px
}